@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #525252;
}

@layer components {
    .container {
        @apply mx-auto max-w-[1800px];
        padding: 0 1rem;
    }
  }