@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #6b6a6c;
}

@layer components {
    .container {
        @apply mx-auto max-w-[1850px];
        padding: 0 1rem;
    }

    .tag {
        @apply px-2 py-1 rounded-lg w-max;
    }

    .selectContainer {
        @apply relative bg-white w-80 border border-standardGrey flex;
        align-items: center;
        min-height: 1.5em;
        align-items: center;
        gap: .5em;
        padding: .5em;
        border-radius: .25em;
        outline: none;
    }
    .selectContainer:focus {
        border-color: red;
    }

    .selectMenu {
        @apply absolute m-0 border border-standardGrey w-full bg-white list-none overflow-y-auto max-h-80 left-0 z-10 text-2xl;
        scrollbar-width: none;
        top: calc(100% + .25em);
        display: none;
    }
    .selectMenu::-webkit-scrollbar {
        display: none;
    }

    .selectMenu.open {
        display: block;
    } 

    .clearBtn {
        @apply bg-none border-none cursor-pointer p-0 outline-none text-4xl
    }

    .caret {
        border: .5em solid transparent;
        @apply border-t-darkGrey;
        translate: 0 50%;
    }

    .tagsContainer {
        flex-grow: 1;
        display: flex;
        gap: .5em;
        flex-wrap: wrap;
    }

    .selectTag {
        display: flex;
        align-items: center;
        border: .05em solid #777;
        border-radius: .25em;
        padding: .15em;
        gap: .25em;
        background: none;
        outline: none;
    }
  }