@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #6b6a6c;
    scroll-behavior: smooth;
}

@layer components {
    .container {
        @apply mx-auto max-w-[1253px];
    }

    .tag {
        @apply px-3 py-1 rounded-lg w-max;
    }

    .selectContainer {
        @apply relative bg-white flex w-full md:w-96;
        align-items: center;
        min-height: 4.2em;
        gap: .5em;
        padding: .5em;
        outline: none;
        transition: border .1s;
        cursor: pointer
    }

    .selectMenu {
        @apply absolute m-0 border border-standardGrey w-full bg-white list-none overflow-y-auto max-h-80 left-0 z-10 text-2xl;
        scrollbar-width: none;
        top: calc(100% + .25em);
        display: none;
    }
    .selectMenu::-webkit-scrollbar {
        display: none;
    }

    .selectMenu.open {
        display: block;
    }
 
    .caret {
        border: .5em solid transparent;
        @apply border-t-darkGrey;
        translate: 0 40%;
    }

    .checked {
        @apply relative bg-white;
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.1s;
    }

    .checked:before {
        @apply bg-standardBlue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        content: "";
        width: 60%;
        height: 60%;
        opacity: 0;
        transition: opacity 0.1s;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

    .checked.active {
        @apply border-standardBlue;
    }

    .checked.active:before {
        opacity: 1;
    }
  }